@import 'styles/theme';

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.profile {
  margin: 0.15em;
  &.container {
    min-width: 400px;
    background: $background;
    padding: 0em 1em 1em 1em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
  }
  & p,h2 {
    margin: 0.1em;
  }
  &.title{
    font-size: 2em;
    font-weight: 500;
    margin: 0.1em;
    text-align: center;
  }
  &.name {
    font-weight: 400;
  }
  &.username {
    font-weight: 400;
    color: $accent;
    font-size: 1.2em;
  }
  &.id {
    text-align: left;
    font-family: $fontMono;
    font-weight: 300;

  }

  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0.5em;
  }
  &.input {
    height: 35px;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    background: transparentize(white, 0.85);
    color: $textColor;
  }
  &.change-birthday-label {
    margin-bottom: 0.5em;
    margin-top: 0em;
    text-align: left;
    font-weight: 600;
  }
}

